<form class="mx-6">
    <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
            <div class="col-span-full">
                <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Insert your Natural Query
                    here</label>
                <div class="mt-2">
                        <textarea x-model="formData.query" id="query" name="query" rows="5"
                                  placeholder="e.g. How many users signed up yesterday?"
                                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-start gap-x-6">
        <button @click="runQueryChain"
                type="button"
                class="rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                x-bind:class="{'bg-gray-400': loading }">
            Generate Query
        </button>
        <p x-show="loading" class="text-sm text-red-500">Please wait. Generating Query...</p>
        <p x-show="error_text" x-text="error_text" class="text-sm text-red-500"></p>
    </div>
</form>
